langchain
langchain-groq
langchain-community
langchain-ollama
langchain-huggingface
chromadb
PyMuPDF
uvicorn
fastapi
pysqlite3-binary
faiss-cpu
sentence-transformers
langchain-google-genai

